@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi&family=Poppins:wght@300&display=swap');


:root{
  --color1: #0B7BDB;
  --color2: #fff;
}

body {
  background: url('./assets/images/Background.png') center center fixed;
  background-size: cover;
  margin: 0px;
  font-family: 'Anek Gurmukhi', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  max-width: none;
  
}
.hidden {
    display: none;
}

.color1{
  color: var(--color1);
}
.color2{
  color: var(--color2);
}

.Navbar{
  display: flex;
  justify-content: space-between;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0px;
  background: url('./assets/images/Background.png') center center fixed;
  background-size: cover;
  max-height: 80px;
}


.Navbar-items{
  display: flex;
  align-items: center;
  color: var(--color2);
  margin-right: 0px;
  margin-top: 30px;
}

.Navbar-item{
  margin-right: 30px;
  font-size: 20px;
}

.Navbar-item:hover{
  color: #62cfe4 !important;
  cursor: pointer;
  
}
.Navbar-item-sidebar{
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.Navbar-item.active {
  color: #0B7BDB; /* Cambia el color según tus preferencias */
}


.Navbar-logo{
  width: auto;
  max-width: 600px;
  max-height: 130px;
  margin-top: 30px;
  
}

.Navbar-icon{
  width: 30px;
  height: 30px;
  margin-right: 30px;
  
}

.Navbar-icon:hover{
  transform: translateY(-3px);
  
}

.cssbuttons-io-button {
  background: #0b7adb4f;
  color: white;
  font-family: 'Anek Gurmukhi', sans-serif;
  font-family: 'Poppins', sans-serif;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em --color1;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: var(--color2);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em --color1;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--color1);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}




.Navbar-icon-sidebar{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px ;
}

.burger {
  cursor: pointer;
}

.burger-icon {
  font-size: 40px;
  transition: transform 0.3s ease;
  color: var(--color2);
  margin-right: 50px;
}

.burger-icon:hover {
  transform: scale(1.2);
}

@media(max-width: 1350px){
  .ocultar{
    display: none;
  }
  .side-bar.active {
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: url('./assets/images/Background.png') center center fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
  }
  .Navbar{
    margin-top: -20px;
    max-height: 90px;
  }
  .Navbar-logo{
    margin-left: -10px;
  }

}

@media(min-width: 1350px){
  .burguer{
    display: none;
  }
  
}
@media(max-width: 1350px){
  .burguer{
    margin-right: -35px;
  }
  
}

.side-bar{
  height: 0;
  width: 0;
  overflow: hidden;
}

.side-bar-container{
  margin: 20px;
  text-align: center;
}


.side-bar .navbar-item {
  margin-bottom: 10px;
}
.sidebar-item{
  text-align: left;
  margin-left: 10px;
}

.Close-sidebar{
  color: var(--color1);
  width: 30px;
  height: 30px;
  
}

.X{
  text-align: right !important;
  margin-bottom: -20px;
  margin-top: 32px;
  margin-right: 7px;
}



/* Burbujas */

.bubble{
  border-radius: 50%;
  background: #fff;
  opacity: .8;
  position: fixed;
  bottom: -100;
  animation: bubbles 3s linear infinite ;

}

.bubble:nth-child(1){
  width: 18px;
  height: 18px;
  left: 5%;
  animation-duration: 5s;
  animation-delay: 3s;
}

.bubble:nth-child(2){
  width: 20px;
  height: 20px;
  left: 35%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.bubble:nth-child(3){
  width: 5px;
  height: 5px;
  left: 15%;
  animation-duration: 5s;
  animation-delay: 7s;
}

.bubble:nth-child(4){
  width: 18px;
  height: 18px;
  left: 90%;
  animation-duration: 7s;
  animation-delay: 3s;
}

.bubble:nth-child(5){
  width: 15px;
  height: 15px;
  left: 65%;
  animation-duration: 6s;
  animation-delay: 1s;
}



.bubble:nth-child(7){
  width: 10px;
  height: 10px;
  left: 50%;
  animation-duration: 7s;
  animation-delay: 5s;
}

.bubble:nth-child(8){
  width: 15px;
  height: 15px;
  left: 52%;
  animation-duration: 8s;
  animation-delay: 5s;
}

.bubble:nth-child(9){
  width: 10px;
  height: 10px;
  left: 51%;
  animation-duration: 9s;
  animation-delay: 2s;
}

.bubble:nth-child(10){
  width: 20px;
  height: 20px;
  left: 35%;
  animation-duration: 6s;
  animation-delay: 4s;
}


@keyframes bubbles{
  0%{
      bottom: 0;
      opacity: 0;
  }
  30%{
      transform: translateX(30px);
  }
  50%{
      opacity: .2;
  }
  100%{
      bottom: 100vh;
      opacity: 0;
  }
}

@keyframes movimiento{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(30px);
  }
  100%{
      transform: translateY(0);
  }
}


/* About*/

.Container{
  display: flex;
  justify-content: space-between;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 25vh;
  border-radius: 20px;
  min-height: 75vh;
}

.Text-Container{
  margin: 20px;
  margin-left:5vw;
  margin-right: 18vw;
}

@media (max-width: 1350px) {
  .Text-Container{
    margin-right: 6vw;
  }

}


.Tittle{
  color: var(--color1);
  margin-bottom: 0px;
  font-size: 50px;
  margin-top: 1vw;
}

.Subtittle{
  color: var(--color1);
  font-weight: 100;
  margin-top: 0px;
  font-size: 40px;
}

.Text{
  color: var(--color2);
  font-weight: 100;
  margin-top: 35px;
  font-size: 20px;
}

.CV-Button{
  position: relative;
  display: inline-block;
  
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s;
}

.MyImage{
  height: 429px;
  width: 325px;
}


@media (max-width: 1350px) {
  .Container{
    display: block;
    text-align: center;
    min-height: 90vh;
  }
  .MyImage{
    height: 429px;
    width: 325px;
    border-radius: 20px ;
    align-items: center;
    display: inline-block;
    margin-bottom: -7px;
  }
  


}


/* About Me */


.Subtittle2,  .Subtittle2-0{
  color: var(--color1);
  font-weight: 100;
  margin-top: 0px;
  font-size: 45px;
}


.User-icon{
  width: 44px;
  height: 44px;
  margin-top: 26px;
  margin-right: 20px;
  margin-left: -7px;
}

.About-Me-Container{
  display: block;
  justify-content: space-between;
  border-radius: 20px;
  min-width: 38.5vw;
  
}

.Text-Container-About{
  margin: 20px;
  margin-left:4vw;
  margin-right: 4vw;
  margin-bottom: 40px;
}

.Container-All-about{
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 40px;
}


@media (max-width: 1350px) {

  .Container{
    margin-top: 80px ;
  }
  .Container-All-about{
    display: block;
  }

  .Text-Container-About{
    align-items: center;
    text-align: center;
  }
  .Text{
    list-style-type: none;
  }
  ul.Text{
    padding: 0px;
  }
  .Skills-Container{
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 90px;
    }

    .Text-Container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    
}

@media (max-width:1350px){

  .Subtittle2-0{
        margin-top: calc(10vw);
      }
  }


/* My Skills */


  .Skills-Container{
  display: flex;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 90px;
  }

  
.Skills-Text-Container{
  margin: 20px;
  margin-left: 4vw;
  margin-right: 15vw;
  margin-top: 100px;
  white-space: nowrap;
}



.Skills-Icons{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  
}


.Icons-Container{
  margin: 20px;
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 7vw;
  max-width: 7vw;
}

.Icon-Skills{
  height: 60px;
  width: 60px;
}




@media (max-width: 1350px) {

  .Skills-Container{
    display: block;
    text-align: center;
    }
    .Skills-Icons{
      display: flex;
      list-style-type: none;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0px;
    }
    .Skills-Text-Container{
      margin: 0px;
      margin-left: 0vw;
      margin-right: 0vw;
      margin-top: 0px;
  
    }
}



/* Projects */


.Projects-Container{
  display: block;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 60px;
}

.Text-Container-Projects{
  margin: 20px;
  margin-left:4vw;
  margin-right: 4vw;
  margin-bottom: 40px;
}

.Subtittle-Project{
  color: #7cb5e8;
  font-weight: 100;
  margin-top: 0px;
  font-size: 30px;
}

.Project-Image{
  border-radius: 20px;
  height: 40vw;
  width: 70vw;
  margin-top: 15px;
  
}


.Text-Projects{
  color: var(--color2);
  font-weight: 100;
  margin-top: 35px;
  font-size: 16px;
}
